# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
./client/synapse/dist

../client/synapse/tmp
../client/synapse/out-tsc
# dependencies
../backend/node_modules
../client/synapse/node_modules

# IDEs and editors
../client/synapse/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
