.align-rightSignUp{
    position: absolute !important;
    right: 0px !important;
    margin: 0;
}
.align-rightLogin{
    position: absolute !important;
    right: 70px !important;
    margin: 0;
}
.align-right-avatar{
    position: absolute !important;
    right: 10px !important;
    margin: 0;
}
.custom-button{
    position: absolute;
    right: 6px;
}
.logout{
    position: absolute;
    right: 100px;
}