<div class="login-main" *ngIf="loginMethod">
  <mat-card>
    <form   [formGroup]="loginForm" #formDirective="ngForm" >
    <mat-card-header >
      <mat-card-title > Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="main">
      <mat-form-field class="full-width" layout="row" autocomplete="off" >
        <input formControlName="mail" [(ngModel)]="mail" matInput placeholder="Email" required>
        <mat-error class="error-message custom-error" *ngIf="loginForm.get('mail').hasError('pattern') ">Please enter a proper email</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width md-10">
          <i class="material-icons passwordIcon" (click)="toggleLoginInputType();" *ngIf ="loginEmailType == 'text'">visibility</i>
          <i class="material-icons passwordIcon"  (click)="toggleLoginInputType();" *ngIf ="loginEmailType == 'password'" >visibility_off</i>
        <input  formControlName="pass" [(ngModel)]="pass" [type]="loginEmailType" matInput type="password" autocomplete="off"  placeholder="password" required>
        <mat-error class="error-message custom-error" *ngIf="loginForm.get('pass').hasError('minlength') || loginForm.get('pass').hasError('maxlength') ">invalid password length</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button [disabled]="loginForm.invalid" (click)="login(formDirective)"   mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </form>
  </mat-card>
</div>
<div class="login-main" *ngIf="!loginMethod">
  <mat-card>
    <mat-card-content>
      <form class="my-form"  [formGroup]="signUpForm" #formDirective="ngForm">
         <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input [(ngModel)]="firstName" matInput placeholder="First name" name="firstName"  formControlName="firstName" required  autocomplete="off" >
          <mat-error [class.has-error]="!signUpForm.controls['firstName'].valid"
          class="error-message custom-error" *ngIf="signUpForm.get('firstName').hasError('required') &&  (signUpForm.get('firstName').dirty || signUpForm.get('firstName').touched  ) || signUpForm.get('firstName').hasError('minlength')">Name field is required and should have minimum 3 characters</mat-error>
        </mat-form-field >
        <mat-form-field class="full-width custom-forms">
          <mat-label>Last Name</mat-label>
          <input [(ngModel)]="lastName" matInput placeholder="Last Name" name="lastName" formControlName="lastName" required  autocomplete="off" >
          <mat-error class="error-message custom-error" *ngIf="signUpForm.get('lastName').hasError('required') &&  (signUpForm.get('lastName').dirty || signUpForm.get('lastName').touched  ) || signUpForm.get('lastName').hasError('minlength')">Name field is required and should have minimum 3 characters</mat-error>
        </mat-form-field>
      
        <mat-form-field class="full-width custom-forms">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="email" matInput placeholder="Email" name="email"  formControlName="email" required  autocomplete="off" > 
          <mat-error class="error-message custom-error" *ngIf="signUpForm.get('email').hasError('required') &&  (signUpForm.get('email').dirty || signUpForm.get('email').touched  ) || signUpForm.get('email').hasError('pattern')">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width custom-forms">
          <mat-label>Password</mat-label>
          <i class="material-icons passwordIcon" (click)="toggleInputType();" *ngIf ="inputType == 'text'">visibility</i>
          <i class="material-icons passwordIcon"  (click)="toggleInputType();" *ngIf ="inputType == 'password'" >visibility_off</i>
          <input matInput [(ngModel)]="password"  placeholder="Password" name="password" [type]="inputType"  formControlName="password" required  autocomplete="off" >
          <mat-error class="error-message custom-error pd-0" *ngIf="signUpForm.get('password').errors && signUpForm.get('password').hasError('minlength') || signUpForm.get('password').hasError('maxlength')">Password should be of 5 characters</mat-error>
          <mat-error class="error-message custom-error  pd-0" *ngIf="signUpForm.get('password').errors && signUpForm.get('password').hasError('pattern')  ">Password must conntain a uppercase,a Lowercase and a special character </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width custom-forms">
            <mat-label>Confirm Password</mat-label >
            <input  matInput placeholder="Confirm Password" formControlName="confirmPassword" name="confirmPassword" required  autocomplete="off" >
            <mat-error class="error-message custom-error" *ngIf="signUpForm.get('confirmPassword').errors && signUpForm.get('confirmPassword').hasError('matchPassword') ">Please enter the same password</mat-error>
          </mat-form-field>
          <mat-card-actions align="center">
            <button mat-raised-button (click)="signUp(formDirective);" [disabled]="signUpForm.invalid"color="primary">SignUp</button>
            </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>